src/jp/form.pug
- var title = "TOKYO 2020 Make The Beat!｜東京オリンピック・パラリンピック競技大会組織委員会";
- var keyword = "Make The Beat,2020beat,ビート,応援,オリンピック,パラリンピック,東京,Tokyo,2020,組織委員会,ニュース,競技,大会ビジョン,エンブレム,五輪";
- var description = "TOKYO 2020「Make The Beat!」応援プロジェクトについてご紹介します。";
- var css = "/assets/css/";
- var img = "/assets/img/";
- var js  = "/assets/js/";
- var timestamp = "?timestamp=20200107";

doctype html
html.responsive(lang="ja")
  head
    include ../partials/common_meta.pug
    link(href="//fonts.googleapis.com/css?family=Barlow+Condensed:600&display=swap" rel="stylesheet")
    link(rel="stylesheet" href=css+"form.css")
    include ../partials/gtm.pug
  body#jp(cz-shortcut-listen="true")
    include ../partials/noscript.pug
    #contents_contaienr.container
      //- include ../partials/fb-root.pug
      include header_form.pug
      nav.breadcrumbs.pc-element(role="navigation" aria-label="現在位置")
        p
          //- a.breadcrumbs__link(href="https://makethebeat.tokyo2020.org/jp/") ホーム
          a.breadcrumbs__link(href="https://tokyo2020.org/jp/") ホーム
          img.ic_breadcrumbs(src="//tokyo2020.org/assets/img/common/ic05.png" alt="＞")
          //- span.breadcrumbs__link 2020ビート利用申請（企業・団体向け）
          a.breadcrumbs__link(href="https://makethebeat.tokyo2020.org/jp/") TOKYO 2020 Make The Beat!
      #contents_wrapper.contents_wrapper.compornent
        nav#global_menu.global_menu.sp-element(role="navigation" aria-label="スマートフォン用メニュー" aria-hidden="true")
          ul#global_menulist.global_menulist
            li.has_children
              p.trigger.language 言語切り替え
              .view.global_second_view
                ul.global_second_menu.language
                  li.active
                    a(href="/jp/form.html") 日本語
                  li
                    a(href="/en/form.html") English
            li
              a(href="https://tokyo2020.org/jp/") ホーム
            li
              a(href="https://makethebeat.tokyo2020.org/jp/") TOKYO 2020 Make The Beat!
        .contents_body
          main#contentsContainer(role="main")
            .form
              iframe#iframe_krs(name="iframe_krs" src="https://krs.bz/mcs/m?f=1" width="auto" height="auto")
          include footer.pug
      .pageTopFloat TOP
    //- include ../partials/common_script.pug
    script(type="text/javascript" src="/assets/js/common/lib/libs.js")
    script(type="text/javascript" src="/assets/m/js/common/lib/libs.js")
    script(type="text/javascript" src="/assets/js/common/lib/jquery.cookie.js")
    script(type="text/javascript" src="/assets/m/js/common/utils/utils.js")
    //-script(type="text/javascript" src="/assets/js/common/script.js")
    script(type="text/javascript" src=js+"form.js"+timestamp charset="utf-8")

jp/form.html
<!DOCTYPE html>
<html class="responsive" lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>TOKYO 2020 Make The Beat!｜東京オリンピック・パラリンピック競技大会組織委員会</title>
    <meta name="keywords" content="Make The Beat,2020beat,ビート,応援,オリンピック,パラリンピック,東京,Tokyo,2020,組織委員会,ニュース,競技,大会ビジョン,エンブレム,五輪">
    <meta name="description" content="TOKYO 2020「Make The Beat!」応援プロジェクトについてご紹介します。">
    <meta property="og:title" content="TOKYO 2020 Make The Beat!｜東京オリンピック・パラリンピック競技大会組織委員会">
    <meta property="og:type" content="article">
    <meta name="copyright" content="The Tokyo Organising Committee of the Olympic and Paralympic Games. All rights reserved. ">
    <meta property="og:image" content="https://tokyo2020.org/jp/assets/img/common/ogp.jpg?u=20160620">
    <meta property="og:url" content="https://makethebeat.tokyo2020.org/">
    <meta property="og:site_name" content="TOKYO 2020 Make The Beat!｜東京オリンピック・パラリンピック競技大会組織委員会">
    <meta property="og:description" content="TOKYO 2020「Make The Beat!」応援プロジェクトについてご紹介します。">
    <link rel="apple-touch-icon" href="https://tokyo2020.org/assets/img/common/tokyo2020.png?u=20160620">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500,500italic,700,700italic,100,100italic">
    <link rel="shortcut icon" href="https://tokyo2020.org/assets/img/common/icon.ico?emblem=tokyo2020">
    <link rel="stylesheet" href="/assets/css/common/reset.css">
    <link rel="stylesheet" href="/assets/css/common/article.css">
    <link rel="stylesheet" href="/assets/css/common/common_sp.css">
    <link rel="stylesheet" href="/assets/css/common/common_pc.css">
    <link rel="stylesheet" href="/assets/css/common/common_specialheader.css">
    <link href="//fonts.googleapis.com/css?family=Barlow+Condensed:600&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/form.css">
    <!-- Google Tag Manager-->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TFPF2DK');
    </script>
    <!-- End Google Tag Manager-->
  </head>
  <body id="jp" cz-shortcut-listen="true">
    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TFPF2DK" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript)-->
    <div class="container" id="contents_contaienr">
      <header role="banner">
        <p id="site_logo"><a href="https://tokyo2020.org/jp/"><img class="sp-element" src="/assets/m/img/common/logo_tokyo2020.png" alt="東京2020オリンピック・パラリンピック競技大会" aria-hidden="true"><img class="pc-element" src="/assets/img/common/logo_tokyo2020.png" alt="東京2020オリンピック・パラリンピック競技大会"></a></p>
        <div id="headerInner">
          <div class="pc-element" id="headerUpper">
            <div id="headerUpperInner">
              <p id="headerUpperCenter"><img src="/assets/img/common/text_tokyo2020.png" alt="TOKYO2020"></p>
              <div id="headerUpperLeft">
                <ul id="languageBox">
                  <li class="current" id="languageJp" lang="ja"><a href="/jp/form.html" tabindex="2">日本語</a></li>
                  <li id="languageEn"><a href="/en/form.html" tabindex="3">English</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="global_menu_trigger clearfix" id="headerLower">
            <ul class="global_menu_triggerlist clearfix sp-element">
              <li class="btn btn_menu" id="hd_btn_menu"><a class="ui button-image" href="#" role="button" aria-label="メニューの開閉"><img src="/assets/m/img/common/button_menu_sp.png" width="55" height="70" alt="メニュー"><img class="active-image" src="/assets/m/img/common/button_menu_close_sp.png" width="55" height="70" alt="閉じる"></a></li>
            </ul>
          </div>
        </div>
      </header>
      <nav class="breadcrumbs pc-element" role="navigation" aria-label="現在位置">
        <p><a class="breadcrumbs__link" href="https://makethebeat.tokyo2020.org/jp/">ホーム</a><img class="ic_breadcrumbs" src="//tokyo2020.org/assets/img/common/ic05.png" alt="＞"><span class="breadcrumbs__link nohref">2020ビート利用申請（企業・団体向け）</span></p>
      </nav>
      <div class="contents_wrapper compornent" id="contents_wrapper">
        <nav class="global_menu sp-element" id="global_menu" role="navigation" aria-label="スマートフォン用メニュー" aria-hidden="true">
          <ul class="global_menulist" id="global_menulist">
            <li class="has_children">
              <p class="trigger language">言語切り替え</p>
              <div class="view global_second_view">
                <ul class="global_second_menu language">
                  <li class="active"><a href="/jp/form.html">日本語</a></li>
                  <li><a href="/en/form.html">English</a></li>
                </ul>
              </div>
            </li>
            <li><a href="https://makethebeat.tokyo2020.org/jp/">ホーム</a></li>
            <li>2020ビート利用申請（企業・団体向け）</ul>
        </nav>
        <div class="contents_body">
          <main id="contentsContainer" role="main">
            <div class="form">
              <iframe id="iframe_krs" name="iframe_krs" src="https://krs.bz/mcs/m?f=1" width="auto" height="auto"></iframe>
            </div>
          </main>
          <footer id="footer" role="contentinfo">
            <div id="pageTopBox">
              <div id="pageTopBoxInner">
                <p class="btn btn_pagetop" id="btn_pagetop"><a class="ui" href="#">ページトップへ戻る</a></p>
              </div>
            </div>
            <div id="footerLower">
              <div id="footerLowerInner">
                <div class="pc-element">
                  <div class="footer-lower-main"><small class="copyrights" id="copyRights"><span>公益財団法人東京オリンピック･パラリンピック競技大会組織委員会</span>                      ©The Tokyo Organising Committee of the Olympic and Paralympic Games. All rights reserved.</small></div>
                </div>
                <div class="sp-element">
                  <div class="ft_bottom">
                    <p class="copyrights textBase mb00">公益財団法人東京オリンピック･パラリンピック競技大会組織委員会</p>
                    <p>©The Tokyo Organising Committee of the Olympic and Paralympic Games. All rights reserved.</p>
                  </div>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
      <div class="pageTopFloat">TOP</div>
    </div>
    <script type="text/javascript" src="/assets/js/common/lib/libs.js"></script>
    <script type="text/javascript" src="/assets/m/js/common/lib/libs.js"></script>
    <script type="text/javascript" src="/assets/js/common/lib/jquery.cookie.js"></script>
    <script type="text/javascript" src="/assets/m/js/common/utils/utils.js"></script>
    <script type="text/javascript" src="/assets/js/form.js?timestamp=20200107" charset="utf-8"></script>
  </body>
</html>
