jp/index.html
<!DOCTYPE html>
<html class="responsive" lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>TOKYO 2020 Make The Beat!｜東京オリンピック・パラリンピック競技大会組織委員会</title>
    <meta name="keywords" content="Make The Beat,2020beat,ビート,応援,オリンピック,パラリンピック,東京,Tokyo,2020,組織委員会,ニュース,競技,大会ビジョン,エンブレム,五輪">
    <meta name="description" content="TOKYO 2020「Make The Beat!」応援プロジェクトについてご紹介します。">
    <meta property="og:title" content="TOKYO 2020 Make The Beat!｜東京オリンピック・パラリンピック競技大会組織委員会">
    <meta property="og:type" content="article">
    <meta name="copyright" content="The Tokyo Organising Committee of the Olympic and Paralympic Games. All rights reserved. ">
    <meta property="og:image" content="https://tokyo2020.org/jp/assets/img/common/ogp.jpg?u=20160620">
    <meta property="og:url" content="https://makethebeat.tokyo2020.org/">
    <meta property="og:site_name" content="TOKYO 2020 Make The Beat!｜東京オリンピック・パラリンピック競技大会組織委員会">
    <meta property="og:description" content="TOKYO 2020「Make The Beat!」応援プロジェクトについてご紹介します。">
    <link rel="apple-touch-icon" href="https://tokyo2020.org/assets/img/common/tokyo2020.png?u=20160620">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500,500italic,700,700italic,100,100italic">
    <link rel="shortcut icon" href="https://tokyo2020.org/assets/img/common/icon.ico?emblem=tokyo2020">
    <link rel="stylesheet" href="/assets/css/common/reset.css">
    <link rel="stylesheet" href="/assets/css/common/article.css">
    <link rel="stylesheet" href="/assets/css/common/common_sp.css">
    <link rel="stylesheet" href="/assets/css/common/common_pc.css">
    <link rel="stylesheet" href="/assets/css/common/common_specialheader.css">
    <link href="//fonts.googleapis.com/css?family=Barlow+Condensed:600&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/lightcase/lightcase.min.css">
    <link rel="stylesheet" href="/assets/css/top.css?timestamp=20191216">
    <link rel="stylesheet" href="/assets/css/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <!-- Google Tag Manager-->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TFPF2DK');
    </script>
    <!-- End Google Tag Manager-->
  </head>
  <body id="jp">
    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TFPF2DK" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript)-->
    <div class="container" id="contents_contaienr">
      <header role="banner">
        <p id="site_logo"><a href="https://tokyo2020.org/jp/"><img class="sp-element" src="/assets/m/img/common/logo_tokyo2020.png" alt="東京2020オリンピック・パラリンピック競技大会" aria-hidden="true"><img class="pc-element" src="/assets/img/common/logo_tokyo2020.png" alt="東京2020オリンピック・パラリンピック競技大会"></a></p>
        <div id="headerInner">
          <div class="pc-element" id="headerUpper">
            <div id="headerUpperInner">
              <p id="headerUpperCenter"><img src="/assets/img/common/text_tokyo2020.png" alt="TOKYO2020"></p>
              <div id="headerUpperLeft">
                <ul id="languageBox">
                  <li class="current" id="languageJp" lang="ja"><a href="/jp/index.html" tabindex="2">日本語</a></li>
                  <li id="languageEn"><a href="/en/index.html" tabindex="3">English</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="global_menu_trigger clearfix" id="headerLower">
            <ul class="global_menu_triggerlist clearfix sp-element">
              <li class="btn btn_menu" id="hd_btn_menu"><a class="ui button-image" href="#" role="button" aria-label="メニューの開閉"><img src="/assets/m/img/common/button_menu_sp.png" width="55" height="70" alt="メニュー"><img class="active-image" src="/assets/m/img/common/button_menu_close_sp.png" width="55" height="70" alt="閉じる"></a></li>
            </ul>
          </div>
        </div>
      </header>
      <!--nav class="breadcrumbs pc-element" role="navigation" aria-label="現在位置">
        <p><a class="breadcrumbs__link" href="https://tokyo2020.org/jp/">ホーム</a><img class="ic_breadcrumbs" src="/assets/img/common/ic05.png" alt="＞"><span class="breadcrumbs__link nohref">TOKYO 2020 Make The Beat!</span></p>
      </nav-->
      <div class="contents_wrapper compornent" id="contents_wrapper">
        <nav class="global_menu sp-element" id="global_menu" role="navigation" aria-label="スマートフォン用メニュー" aria-hidden="true">
          <ul class="global_menulist" id="global_menulist">
            <li class="has_children">
              <p class="trigger language">言語切り替え</p>
              <div class="view global_second_view">
                <ul class="global_second_menu language">
                  <li class="active"><a href="/jp/index.html">日本語</a></li>
                  <li><a href="/en/index.html">English</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
        <div class="contents_body">
          <div class="main-view">
            <div class="main-view__inner">
              <div class="main-view__bg"><img class="pc-element" src="/assets/img/main-img.svg?timestamp=20191216" width="100%" alt="bg"><img class="sp-element" src="/assets/img/main-img_sp.svg" width="100%" alt="bg"></div>
              <div class="main-view__content">
                <div class="main-view__title">
                  <h1 class="main-view__make"><img src="/assets/img/main-view.svg" width="100%" alt="Make The Beat!"></h1>
                </div>
              </div>
            </div>
          </div>
          <div class="page_navi-wrapper"><a class="page_navi" href="#">MENU</a>
            <ul class="page_navi-link">
              <li><a class="page_navi-a" href="#makethebeat">“Make The Beat!”とは？</a></li>
              <li><a class="page_navi-a" href="#sns">利用可能なSNS</a></li>
              <li><a class="page_navi-a" href="#movies">お手本動画</a></li>
              <li><a class="page_navi-a" href="#usage">2020ビートの利用について</a></li>
              <li><a class="page_navi-a" href="#contact">お問合せ窓口</a></li>
            </ul>
          </div>
          <main id="contentsContainer" role="main">
            <div class="support" id="makethebeat">
              <div class="support-inner">
                <div class="support-movie">
                  <div class="slider"><a href="//www.youtube.com/embed/9uR7oCcE4Fk?rel=0" data-rel="lightcase"><img src="/assets/img/jp/slide1.png" alt=""></a><a data-rel=""><img src="/assets/img/jp/slide2.png" alt=""></a><a href="//www.youtube.com/embed/TM4CYbTNzGc?rel=0" data-rel="lightcase"><img src="/assets/img/jp/slide3.png" alt=""></a></div>
                  <div class="slider-toolbar">
                    <div class="slider-toolbar-inner">
                      <div class="slider-prev"></div>
                      <div class="slider-pause stop"></div>
                      <div class="slider-next"></div>
                    </div>
                  </div>
                </div>
                <div class="support-head"><img class="pc-element" src="/assets/img/support-head.svg" width="100%" alt=""><img class="sp-element" src="/assets/img/support-head_sp.svg" width="100%" alt=""></div>
                <div class="support-body">
                  <div class="support-text">
                    <p>「Make The Beat!」。<br class="pc-element">それは、SNSを通じて世界中の人々が参加できるユニバーサルな応援スタイル。<br class="pc-element">あなたが投稿した応援動画が、競技会場のスクリーンに映し出されます。<br class="pc-element">選手のための2020ビートが、東京2020大会で大きな熱狂の渦になる。<br class="pc-element">この感動をぜひシェアしよう！</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="step" id="join">
              <div class="step-inner">
                <ul class="step-list">
                  <li class="step-item step1">
                    <div class="step-item__head"><img src="/assets/img/step-head_001.svg" width="100%" alt="動画を撮る!"></div>
                    <div class="step-item__body">
                      <div class="step-item__img"><img src="/assets/img/step-img_001.svg" width="100%" alt="動画を撮る! 画像"></div>
                      <div class="step-item__text">
                        <p>2020ビートに合わせて<br class="pc-element">動画を撮りましょう。</p>
                      </div>
                    </div>
                  </li>
                  <li class="step-item step2">
                    <div class="step-item__head"><img src="/assets/img/step-head_002.svg" width="100%" alt="動画を投稿!"></div>
                    <div class="step-item__body">
                      <div class="step-item__img"><img src="/assets/img/step-img_002.svg" width="100%" alt="動画を投稿! 画像"></div>
                      <div class="step-item__text">
                        <p>#2020ビート、または<br>#2020beat をつけて<br>各SNSから投稿しましょう。</p>
                      </div>
                    </div>
                  </li>
                </ul>
                <ul class="step-list">
                  <li class="step-item step3">
                    <div class="step-item__head"><img src="/assets/img/step-head_003.svg" width="100%" alt="動画をつなぐ!"></div>
                    <div class="step-item__body">
                      <div class="step-item__img"><img src="/assets/img/step-img_003.svg" width="100%" alt="動画をつなぐ! 画像"></div>
                      <div class="step-item__text">
                        <p>皆さんに投稿いただいた動画は<br class="pc-element">編集でつなぎ合わされ、<br class="pc-element">1つのムービーに仕上がります。</p>
                      </div>
                    </div>
                  </li>
                  <li class="step-item step4">
                    <div class="step-item__head"><img src="/assets/img/step-head_004.svg" width="100%" alt="動画を上映!"></div>
                    <div class="step-item__body">
                      <div class="step-item__img"><img src="/assets/img/step-img_004.svg" width="100%" alt="動画を上映! 画像"></div>
                      <div class="step-item__text">
                        <p>競技会場の<br>巨大スクリーンにあなたの動画が<br>映し出されるかも！</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="step-footer"></div>
            </div>
            <div class="sns" id="sns">
              <div class="sns-inner">
                <div class="sns-head"><img src="/assets/img/available_sns.svg" width="100%" alt="利用可能なSNS"></div>
                <div class="sns-body">
                  <ul class="sns-list">
                    <li class="sns-item"><a href=""><img src="/assets/img/icon-facebook.svg" width="100%" alt="facebook"></a></li>
                    <li class="sns-item"><a href=""><img src="/assets/img/icon-instagram.png" width="100%" alt="instagram"></a></li>
                    <li class="sns-item"><a href=""><img src="/assets/img/icon-twitter.svg" width="100%" alt="twitter"></a></li>
                    <li class="sns-item"><a href=""><img src="/assets/img/icon-douyin.svg" width="100%" alt="douyin"></a></li>
                    <li class="sns-item"><a href=""><img src="/assets/img/icon-weibo.svg" width="100%" alt="weibo"></a></li>
                  </ul>
                </div>
                <div class="sns-foot">
                  <p class="sns-foot__text">各SNSプラットフォームの利用規約に従って、撮影・投稿してください。</p>
                </div>
              </div>
            </div>
            <div class="sample" id="movies">
              <div class="sample-inner">
                <div class="sample-head"><img src="/assets/img/sample-head.svg" width="100%" alt="サンプルムービー"></div>
                <div class="sample-body">
                  <ul class="sample-move" id="sample-move"></ul>
                  <label class="accordion-open">もっと見る</label>
                  <label class="accordion-close">閉じる</label>
                </div>
              </div>
            </div>
            <div class="terms" id="usage">
              <div class="terms-inner">
                <div class="terms-head"><img class="pc-element" src="/assets/img/terms-head.svg" alt="2020ビートの利用について"><img class="sp-element" src="/assets/img/terms-head_sp.svg" alt="2020ビートの利用について">
                  <p>全ての人が、東京2020大会の機運醸成のために、2020ビートを利用することができます。<br class="pc-element">利用者は、2020ビートの音源をそのまま、又は、アレンジして、2020ビートに合わせて自由なパフォーマンスを行うことができます。<br class="pc-element">また、商業行為に該当しない範囲で、その動画をSNS等に投稿することができます。</p>
                </div>
                <div class="terms-body">
                  <ul class="terms-list">
                    <li class="terms-item">
                      <p class="title">個人でご利用の方はこちら</p>
                      <p class="text">利用者が個人の場合、2020ビート利用規約の内容をご一読いただき、規約に従い2020ビートをご利用ください。2020ビートの音源は、各SNSプラットフォーム上に公開されているTOKYO2020公式音源をご利用ください。<br>※20年1月時点では、TikTok上のみで配信中です。今後、その他のSNSプラットフォームでも配信を検討しています。</p><a class="btn" id="terms-modal" href="./terms/index.html" target="_blank">2020ビート利用規約を確認する</a>
                    </li>
                    <li class="terms-item">
                      <p class="title">企業・団体でご利用の方はこちら</p>
                      <p class="text">利用者が企業または団体の場合、事前に2020ビート利用申請が必要となります。2020組織委員会による承認後、2020ビートの音源と楽譜をご提供します。</p><a href="form.html">2020ビート利用申請をする</a>
                    </li>
                  </ul>
                  <!--p.bottom-text.popup-modal |準備が整い次第、2020ビート利用規約、2020ビート利用申請フォームを公開いたします。いましばらくお待ちください。
                  -->
                </div>
              </div>
            </div>
            <div class="contact" id="contact">
              <div class="contact-inner">
                <div class="contact-head"><img class="pc-element" src="/assets/img/contact-head.svg?timestamp=20191216" alt="お問合せ窓口"><img class="sp-element" src="/assets/img/contact-head_sp.svg?timestamp=20191216" alt="お問合せ窓口"></div>
                <div class="contact-body">
                  <p>
                     日本語と英語によるメールでのお問合せに対応いたします。<br class="pc-element">迷惑メール対策のため、メールアドレスの表記を変更しております。お手数ですが、(at)を@に置き換えてご利用ください。<br><br>TOKYO 2020 “Make The Beat!”運営事務局<br>contact-makethebeat(at)tokyo2020.jp</p>
                </div>
              </div>
            </div>
          </main>
          <footer id="footer" role="contentinfo">
            <div id="pageTopBox">
              <div id="pageTopBoxInner">
                <p class="btn btn_pagetop" id="btn_pagetop"><a class="ui" href="#">ページトップへ戻る</a></p>
              </div>
            </div>
            <div id="footerLower">
              <div id="footerLowerInner">
                <div class="pc-element">
                  <div class="footer-lower-main"><small class="copyrights" id="copyRights"><span>公益財団法人東京オリンピック･パラリンピック競技大会組織委員会</span>                      ©The Tokyo Organising Committee of the Olympic and Paralympic Games. All rights reserved.</small></div>
                </div>
                <div class="sp-element">
                  <div class="ft_bottom">
                    <p class="copyrights textBase mb00">公益財団法人東京オリンピック･パラリンピック競技大会組織委員会</p>
                    <p>©The Tokyo Organising Committee of the Olympic and Paralympic Games. All rights reserved.</p>
                  </div>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
      <div class="pageTopFloat">TOP</div>
    </div>
    <script type="text/javascript" src="/assets/js/common/lib/libs.js"></script>
    <script type="text/javascript" src="/assets/m/js/common/lib/libs.js"></script>
    <script type="text/javascript" src="/assets/js/common/lib/jquery.cookie.js"></script>
    <script type="text/javascript" src="/assets/m/js/common/utils/utils.js"></script>
    <script type="text/javascript" src="/assets/js/common/script.js"></script>
    <script type="text/javascript" src="/assets/js/lightcase.min.js?timestamp=20191216" charset="utf-8"></script>
    <script type="text/javascript" src="/assets/js/script.js?timestamp=20191216" charset="utf-8"></script>
    <script type="text/javascript" src="/assets/js/click.js" charset="utf-8"></script>
    <script type="text/javascript" src="/assets/js/top.js" charset="utf-8"></script>
  </body>
</html>

src/jp/index.pug
- var title = "TOKYO 2020 Make The Beat!｜東京オリンピック・パラリンピック競技大会組織委員会";
- var keyword = "Make The Beat,2020beat,ビート,応援,オリンピック,パラリンピック,東京,Tokyo,2020,組織委員会,ニュース,競技,大会ビジョン,エンブレム,五輪";
- var description = "TOKYO 2020「Make The Beat!」応援プロジェクトについてご紹介します。";
- var css = "/assets/css/";
- var img = "/assets/img/";
- var js  = "/assets/js/";
- var timestamp  = "?timestamp=20191216";
doctype html
html.responsive(lang="ja")
  head
    include ../partials/common_meta.pug
    link(href="//fonts.googleapis.com/css?family=Barlow+Condensed:600&display=swap" rel="stylesheet")
    link(rel="stylesheet" href=css+"lightcase/lightcase.min.css")
    link(rel="stylesheet" href=css+"top.css"+timestamp)
    link(rel="stylesheet" href=css+"slick-theme.css")
    link(rel="stylesheet" href=css+"slick.css")
    include ../partials/gtm.pug
  body#jp
    include ../partials/noscript.pug
    #contents_contaienr.container
      include header.pug
      nav.breadcrumbs.pc-element(role="navigation" aria-label="現在位置")
        p
          a.breadcrumbs__link(href="https://tokyo2020.org/jp/") ホーム
          img.ic_breadcrumbs(src="/assets/img/common/ic05.png" alt="＞")
          span.breadcrumbs__link.nohref TOKYO 2020 Make The Beat!
      #contents_wrapper.contents_wrapper.compornent
        include sp_navi.pug
        .contents_body
          .main-view
            .main-view__inner
              .main-view__bg
                img.pc-element(src=img+"main-img.svg"+timestamp width="100%" alt="bg")
                img.sp-element(src=img+"main-img_sp.svg" width="100%" alt="bg")
              .main-view__content
                .main-view__title
                  h1.main-view__make
                    img(src=img+"main-view.svg" width="100%" alt="Make The Beat!")
          .page_navi-wrapper
            a.page_navi(href="#") MENU
            ul.page_navi-link
              li
                a.page_navi-a(href="#makethebeat") “Make The Beat!”とは？
              li
                a.page_navi-a(href="#sns") 利用可能なSNS
              li
                a.page_navi-a(href="#movies") お手本動画
              li
                a.page_navi-a(href="#usage") 2020ビートの利用について
              li
                a.page_navi-a(href="#contact") お問合せ窓口
          main#contentsContainer(role="main")
            #makethebeat.support
              .support-inner
                .support-movie
                  .slider
                    a(href="//www.youtube.com/embed/9uR7oCcE4Fk?rel=0" data-rel="lightcase")
                      img(src=img+"jp/slide1.png" alt="")
                    a( data-rel="")
                      img(src=img+"jp/slide2.png" alt="")
                    a(href="//www.youtube.com/embed/TM4CYbTNzGc?rel=0" data-rel="lightcase")
                      img(src=img+"jp/slide3.png" alt="")
                  .slider-toolbar
                    .slider-toolbar-inner
                      .slider-prev
                      .slider-pause.stop
                      .slider-next
                .support-head
                  img.pc-element(src=img+"support-head.svg" width="100%" alt="")
                  img.sp-element(src=img+"support-head_sp.svg" width="100%" alt="")
                .support-body
                  .support-text
                    p
                      | 「Make The Beat!」。
                      br.pc-element
                      | それは、SNSを通じて世界中の人々が参加できるユニバーサルな応援スタイル。
                      br.pc-element
                      | あなたが投稿した応援動画が、競技会場のスクリーンに映し出されます。
                      br.pc-element
                      | 選手のための2020ビートが、東京2020大会で大きな熱狂の渦になる。
                      br.pc-element
                      | この感動をぜひシェアしよう！
            #join.step
              .step-inner
                ul.step-list
                  li.step-item.step1
                    .step-item__head
                      img(src=img+"step-head_001.svg" width="100%" alt="動画を撮る!")
                    .step-item__body
                      .step-item__img
                        img(src=img+"step-img_001.svg" width="100%" alt="動画を撮る! 画像")
                      .step-item__text
                        p
                          | 2020ビートに合わせて
                          br.pc-element
                          | 動画を撮りましょう。
                  li.step-item.step2
                    .step-item__head
                      img(src=img+"step-head_002.svg" width="100%" alt="動画を投稿!")
                    .step-item__body
                      .step-item__img
                        img(src=img+"step-img_002.svg" width="100%" alt="動画を投稿! 画像")
                      .step-item__text
                        p
                          | #2020ビート、または
                          br
                          | #2020beat をつけて
                          br
                          | 各SNSから投稿しましょう。
                ul.step-list
                  li.step-item.step3
                    .step-item__head
                      img(src=img+"step-head_003.svg" width="100%" alt="動画をつなぐ!")
                    .step-item__body
                      .step-item__img
                        img(src=img+"step-img_003.svg" width="100%" alt="動画をつなぐ! 画像")
                      .step-item__text
                        p
                          | 皆さんに投稿いただいた動画は
                          br.pc-element
                          | 編集でつなぎ合わされ、
                          br.pc-element
                          | 1つのムービーに仕上がります。
                  li.step-item.step4
                    .step-item__head
                      img(src=img+"step-head_004.svg" width="100%" alt="動画を上映!")
                    .step-item__body
                      .step-item__img
                        img(src=img+"step-img_004.svg" width="100%" alt="動画を上映! 画像")
                      .step-item__text
                        p
                          | 競技会場の
                          br
                          | 巨大スクリーンにあなたの動画が
                          br
                          | 映し出されるかも！
              .step-footer
            #sns.sns
              .sns-inner
                .sns-head
                  img(src=img+"available_sns.svg" width="100%" alt="利用可能なSNS")
                .sns-body
                  ul.sns-list
                    li.sns-item
                      a(href="")
                        img(src=img+"icon-facebook.svg" width="100%" alt="facebook")
                    li.sns-item
                      a(href="")
                        img(src=img+"icon-instagram.png" width="100%" alt="instagram")
                    li.sns-item
                      a(href="")
                        img(src=img+"icon-twitter.svg" width="100%" alt="twitter")
                    li.sns-item
                      a(href="")
                        img(src=img+"icon-douyin.svg" width="100%" alt="douyin")
                    li.sns-item
                      a(href="")
                        img(src=img+"icon-weibo.svg" width="100%" alt="weibo")
                .sns-foot
                  p.sns-foot__text 各SNSプラットフォームの利用規約に従って、撮影・投稿してください。
            #movies.sample
              .sample-inner
                .sample-head
                  img(src=img+"sample-head.svg" width="100%" alt="サンプルムービー")
                .sample-body
                  ul#sample-move.sample-move
                  label.accordion-open もっと見る
                  label.accordion-close 閉じる
            #usage.terms
              .terms-inner
                .terms-head
                  img.pc-element(src=img+"terms-head.svg" alt="2020ビートの利用について")
                  img.sp-element(src=img+"terms-head_sp.svg" alt="2020ビートの利用について")
                  p
                    | 全ての人が、東京2020大会の機運醸成のために、2020ビートを利用することができます。
                    br.pc-element
                    | 利用者は、2020ビートの音源をそのまま、又は、アレンジして、2020ビートに合わせて自由なパフォーマンスを行うことができます。
                    br.pc-element
                    | また、商業行為に該当しない範囲で、その動画をSNS等に投稿することができます。
                .terms-body
                  ul.terms-list
                    li.terms-item
                      p.title 個人でご利用の方はこちら
                      p.text
                        | 利用者が個人の場合、2020ビート利用規約の内容をご一読いただき、規約に従い2020ビートをご利用ください。2020ビートの音源は、各SNSプラットフォーム上に公開されているTOKYO2020公式音源をご利用ください。
                        br
                        | ※19年12月時点では、TikTok上のみで配信中です。今後、その他のSNSプラットフォームでも配信を検討しています。
                      //- a.btn-disabled(href="#") 準備中
                      a#terms-modal.btn(href="./terms/index.html" target="_blank") 2020ビート利用規約を確認する
                    li.terms-item
                      p.title 企業・団体でご利用の方はこちら
                      p.text 利用者が企業または団体の場合、事前に2020ビート利用申請が必要となります。2020組織委員会による承認後、2020ビートの音源と楽譜をご提供します。
                      //- a.btn-disabled(href="#") 準備中
                      a(href="form.html") 2020ビート利用申請をする
                  //p.bottom-text.popup-modal 
                    |準備が整い次第、2020ビート利用規約、2020ビート利用申請フォームを公開いたします。いましばらくお待ちください。
            #contact.contact
              .contact-inner
                .contact-head
                  img.pc-element(src=img+"contact-head.svg"+timestamp alt="お問合せ窓口")
                  img.sp-element(src=img+"contact-head_sp.svg"+timestamp alt="お問合せ窓口")
                .contact-body
                  p 
                    | 日本語と英語によるメールでのお問合せに対応いたします。
                    br.pc-element
                    | 迷惑メール対策のため、メールアドレスの表記を変更しております。お手数ですが、(at)を@に置き換えてご利用ください。
                    br
                    br
                    | TOKYO 2020 “Make The Beat!”運営事務局
                    br
                    | contact-makethebeat(at)tokyo2020.jp
          include footer.pug
      .pageTopFloat TOP
    include ../partials/common_script.pug
    script(type="text/javascript" src=js+"lightcase.min.js"+timestamp charset="utf-8")
    script(type="text/javascript" src=js+"script.js"+timestamp charset="utf-8")
    
    script(type="text/javascript" src=js+"click.js" charset="utf-8")
    script(type="text/javascript" src=js+"top.js" charset="utf-8")

      
