src/en/index.pug
- var title = "TOKYO 2020 Make The Beat! | The Tokyo Organising Committee of the Olympic and Paralympic Games";
- var keyword = "Make The Beat,2020beat,cheering,Olympic,Paralympic,Tokyo,2020,Organising Committee,news,sport,Games Vision";
- var description = "An introduction to TOKYO 2020 Make The Beat! cheering project.";
- var css = "/assets/css/";
- var img = "/assets/img/";
- var js  = "/assets/js/";
- var timestamp  = "?timestamp=20191216";
doctype html
html.responsive(lang="en")
  head
    include ../partials/common_meta.pug
    link(href="//fonts.googleapis.com/css?family=Barlow+Condensed:600&display=swap" rel="stylesheet")
    link(rel="stylesheet" href=css+"lightcase/lightcase.min.css")
    link(rel="stylesheet" href=css+"top.css"+timestamp)
      
    link(rel="stylesheet" href=css+"slick-theme.css")
    link(rel="stylesheet" href=css+"slick.css")
    include ../partials/gtm.pug
  body#en
    include ../partials/noscript.pug
    #contents_contaienr.container
      //- include ../partials/fb-root.pug
      include header.pug
      nav.breadcrumbs.pc-element(role="navigation" aria-label="現在位置")
        p
          a.breadcrumbs__link(href="https://tokyo2020.org/en/") home
          img.ic_breadcrumbs(src="/assets/img/common/ic05.png" alt="＞")
          span.breadcrumbs__link.nohref TOKYO 2020 Make The Beat!
      #contents_wrapper.contents_wrapper.compornent
        include sp_navi.pug
        .contents_body
          .main-view
            .main-view__inner
              .main-view__bg
                img.pc-element(src=img+"main-img.svg" width="100%" alt="bg")
                img.sp-element(src=img+"main-img_sp.svg" width="100%" alt="bg")
              .main-view__content
                .main-view__title
                  p.main-view__make
                    img(src=img+"main-view.svg" width="100%" alt="Make The Beat!")
          .page_navi-wrapper
            a.page_navi(href="#") MENU
            ul.page_navi-link
              li
                a.page_navi-a(href="#makethebeat") What is "Make The Beat!"?
              li
                a.page_navi-a(href="#sns") Available Social Media
              li
                a.page_navi-a(href="#movies") Sample
              li
                a.page_navi-a(href="#usage") Usage of 2020beat
              li
                a.page_navi-a(href="#contact") Contact
          main#contentsContainer(role="main")
            #makethebeat.support
              .support-inner
                .support-movie
                  .slider
                    a(href="//www.youtube.com/embed/9uR7oCcE4Fk?rel=0" data-rel="lightcase")
                      img(src=img+"en/slide1.png" alt="")
                    a( data-rel="")
                      img(src=img+"en/slide2.png" alt="")
                    a(href="//www.youtube.com/embed/TM4CYbTNzGc?rel=0" data-rel="lightcase")
                      img(src=img+"en/slide3.png" alt="")
                  .slider-toolbar
                    .slider-toolbar-inner
                      .slider-prev
                      .slider-pause.stop
                      .slider-next
                .en-support-head
                  img.pc-element(src=img+"en-support-head.svg" width="100%" alt="")
                  img.sp-element(src=img+"en-support-head_sp.svg" width="100%" alt="")
                .support-body
                  .en-support-text
                    p
                      | “Make The Beat!”
                      br
                      | It’s a universal cheer everyone in the world can join through social media.
                      br.pc-element
                      | The video you post could be on the big screen at competition venues.
                      br.pc-element
                      | Your 2020beat will charge the Tokyo 2020 Games with excitement!
                      br.pc-element
                      | So what are you waiting for?
            #join.step
              .step-inner
                ul.step-list
                  li.step-item.en-step1
                    .step-item__head
                      img.pc-element(src=img+"en-step-head_001.svg" width="100%" alt="Take a selfie video!")
                      img.sp-element(src=img+"en-step1_sp.svg" width="100%" alt="Take a selfie video!")
                    .step-item__body
                      .step-item__img
                        img(src=img+"step-img_001.svg" width="100%" alt="Take a selfie video! image")
                      .step-item__text
                        p Take a video of yourself to the 2020beat.
                  li.step-item.en-step2
                    .step-item__head
                      img.pc-element(src=img+"en-step-head_002.svg" width="100%" alt="Post!")
                      img.sp-element(src=img+"en-step2_sp.svg" width="100%" alt="Post!")
                    .step-item__body
                      .step-item__img
                        img(src=img+"step-img_002.svg" width="100%" alt="Post! image")
                      .step-item__text
                        p
                          | Post the video on social media with
                          br
                          | the hashtag #2020beat.
                ul.step-list
                  li.step-item.en-step3
                    .step-item__head
                      img.pc-element(src=img+"en-step-head_003.svg" width="100%" alt="Posts will be connected!")
                      img.sp-element(src=img+"en-step3_sp.svg" width="100%" alt="Posts will be connected!")
                    .step-item__body
                      .step-item__img
                        img(src=img+"step-img_003.svg" width="100%" alt="Posts will be connected! images")
                      .step-item__text
                        p One video will be created from everyone’s posts.
                  li.step-item.en-step4
                    .step-item__head
                      img.pc-element(src=img+"en-step-head_004.svg" width="100%" alt="Find yourself in the videos!")
                      img.sp-element(src=img+"en-step4_sp.svg" width="100%" alt="Find yourself in the videos!")
                    .step-item__body
                      .step-item__img
                        img(src=img+"step-img_004.svg" width="100%" alt="Find yourself in the videos! image")
                      .step-item__text
                        p Your video might be shown on the big screen at venues!
              .step-footer
            #sns.sns
              .sns-inner
                .en-sns-head
                  img(src=img+"en-available_sns.svg" width="100%" alt="available SNS")
                .sns-body
                  ul.sns-list
                    li.sns-item
                      a(href="")
                        img(src=img+"icon-facebook.svg" width="100%" alt="facebook")
                    li.sns-item
                      a(href="")
                        img(src=img+"icon-instagram.png" width="100%" alt="instagram")
                    li.sns-item
                      a(href="")
                        img(src=img+"icon-twitter.svg" width="100%" alt="twitter")
                    li.sns-item
                      a(href="")
                        img(src=img+"icon-douyin.svg" width="100%" alt="douyin")
                    li.sns-item
                      a(href="")
                        img(src=img+"icon-weibo.svg" width="100%" alt="weibo")
                .sns-foot
                  p.en-sns-foot__text Please follow the terms and conditions of each platform.
            #movies.sample
              .sample-inner
                .en-sample-head
                  img(src=img+"en-sample-head.svg" width="100%" alt="Sample movie")
                .sample-body
                  ul#sample-move.sample-move
                  label.accordion-open show more
                  label.accordion-close close
            #usage.terms
              .terms-inner
                .en-terms-head
                  img.pc-element(src=img+"en-terms-head.svg" alt="Usage of 2020beat")
                  img.sp-element(src=img+"en-terms-head_sp.svg" alt="Usage of 2020beat")
                  p
                    | The 2020beat gives everyone has a chance to energise the Tokyo 2020 Games.
                    br.pc-element
                    | You can perform to the original 2020beat, or arrange your own 2020beat to perform however you like.
                    br.pc-element
                    | You can post your recording to social media, as long as it isn’t ambush marketing.
                .terms-body
                  ul.terms-list
                    li.terms-item
                      p.title For individual users
                      p.text
                        | Please read the usage terms and conditions first and follow the guidelines for the usages of 2020beat. The original 2020beat is available each social media platform.
                        br
                        | *Now available on TikTok. Other social media will be coming soon. (Jan 2020)
                      //- a.btn-disabled(href="#") Coming soon
                      a(href="./terms/index.html" target="_blank") Agree to “2020beat Terms of Use”
                    li.terms-item
                      p.title For companies and associates
                      p.text
                        | Please fill out the application for use of the 2020beat in advance. The Tokyo 2020 Organising Committee will provide music data and sheet music after approval.
                      //- a.btn-disabled(href="#") Coming soon
                      a(href="form.html") Apply for 2020beat
                  //p.bottom-text
                    | As soon as preparations are complete, the 2020beat Terms of Use and Usage Application Form will be released.
            #contact.contact
              .contact-inner
                .contact-head
                  img.pc-element(src=img+"en-contact-head.svg"+timestamp alt="お問合せ窓口")
                  img.sp-element(src=img+"en-contact-head_sp.svg"+timestamp alt="お問合せ窓口")
                .contact-body
                  p 
                    | We accept inquiries by email in Japanese and English.
                    br.pc-element
                    | Please note that the indicated email address has been altered as a measure against junk mail. Please replace (at) with @ when contacting us.
                    br
                    br
                    | TOKYO 2020 “Make The Beat!” Office
                    br
                    | contact-makethebeat(at)tokyo2020.jp
          include footer.pug
      .pageTopFloat TOP
    include ../partials/common_script.pug
    script(type="text/javascript" src=js+"lightcase.min.js"+timestamp charset="utf-8")
    script(type="text/javascript" src=js+"script.js"+timestamp charset="utf-8")
    
    script(type="text/javascript" src=js+"click.js" charset="utf-8")
    script(type="text/javascript" src=js+"top.js" charset="utf-8")

en/index.html
<!DOCTYPE html>
<html class="responsive" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>TOKYO 2020 Make The Beat! | The Tokyo Organising Committee of the Olympic and Paralympic Games</title>
    <meta name="keywords" content="Make The Beat,2020beat,cheering,Olympic,Paralympic,Tokyo,2020,Organising Committee,news,sport,Games Vision">
    <meta name="description" content="An introduction to TOKYO 2020 Make The Beat! cheering project.">
    <meta property="og:title" content="TOKYO 2020 Make The Beat! | The Tokyo Organising Committee of the Olympic and Paralympic Games">
    <meta property="og:type" content="article">
    <meta name="copyright" content="The Tokyo Organising Committee of the Olympic and Paralympic Games. All rights reserved. ">
    <meta property="og:image" content="https://tokyo2020.org/jp/assets/img/common/ogp.jpg?u=20160620">
    <meta property="og:url" content="https://makethebeat.tokyo2020.org/">
    <meta property="og:site_name" content="TOKYO 2020 Make The Beat! | The Tokyo Organising Committee of the Olympic and Paralympic Games">
    <meta property="og:description" content="An introduction to TOKYO 2020 Make The Beat! cheering project.">
    <link rel="apple-touch-icon" href="https://tokyo2020.org/assets/img/common/tokyo2020.png?u=20160620">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500,500italic,700,700italic,100,100italic">
    <link rel="shortcut icon" href="https://tokyo2020.org/assets/img/common/icon.ico?emblem=tokyo2020">
    <link rel="stylesheet" href="/assets/css/common/reset.css">
    <link rel="stylesheet" href="/assets/css/common/article.css">
    <link rel="stylesheet" href="/assets/css/common/common_sp.css">
    <link rel="stylesheet" href="/assets/css/common/common_pc.css">
    <link rel="stylesheet" href="/assets/css/common/common_specialheader.css">
    <link href="//fonts.googleapis.com/css?family=Barlow+Condensed:600&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/lightcase/lightcase.min.css">
    <link rel="stylesheet" href="/assets/css/top.css?timestamp=20191216">
    <link rel="stylesheet" href="/assets/css/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <!-- Google Tag Manager-->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TFPF2DK');
    </script>
    <!-- End Google Tag Manager-->
  </head>
  <body id="en">
    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TFPF2DK" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript)-->
    <div class="container" id="contents_contaienr">
      <header role="banner">
        <p id="site_logo"><a href="https://tokyo2020.org/en/"><img class="sp-element" src="/assets/m/img/common/logo_tokyo2020.png" alt="Olympic and Paralympic Games Tokyo 2020" aria-hidden="true"><img class="pc-element" src="/assets/img/common/logo_tokyo2020.png" alt="Olympic and Paralympic Games Tokyo 2020"></a></p>
        <div id="headerInner">
          <div class="pc-element" id="headerUpper">
            <div id="headerUpperInner">
              <p id="headerUpperCenter"><img src="/assets/img/common/text_tokyo2020.png" alt="TOKYO2020"></p>
              <div id="headerUpperLeft">
                <ul id="languageBox">
                  <li id="languageJp" lang="ja"><a href="/jp/index.html" tabindex="2">日本語</a></li>
                  <li class="current" id="languageEn" lang="en"><a href="/en/index.html" tabindex="3">English</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="global_menu_trigger clearfix" id="headerLower">
            <ul class="global_menu_triggerlist clearfix sp-element">
              <li class="btn btn_menu" id="hd_btn_menu"><a class="ui button-image" href="#" role="button" aria-label="メニューの開閉"><img src="/assets/m/img/common/button_menu_sp.png" width="55" height="70" alt="メニュー"><img class="active-image" src="/assets/m/img/common/button_menu_close_sp.png" width="55" height="70" alt="閉じる"></a></li>
            </ul>
          </div>
        </div>
      </header>
      <!--nav class="breadcrumbs pc-element" role="navigation" aria-label="現在位置">
        <p><a class="breadcrumbs__link" href="https://tokyo2020.org/en/">Home</a><img class="ic_breadcrumbs" src="/assets/img/common/ic05.png" alt="＞"><span class="breadcrumbs__link nohref">TOKYO 2020 Make The Beat!</span></p>
      </nav-->
      <div class="contents_wrapper compornent" id="contents_wrapper">
        <nav class="global_menu sp-element" id="global_menu" role="navigation" aria-label="スマートフォン用メニュー" aria-hidden="true">
          <ul class="global_menulist" id="global_menulist">
            <li class="has_children">
              <p class="trigger language">Language</p>
              <div class="view global_second_view">
                <ul class="global_second_menu language">
                  <li><a href="/jp/index.html">日本語</a></li>
                  <li class="active"><a href="/en/index.html">English</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
        <div class="contents_body">
          <div class="main-view">
            <div class="main-view__inner">
              <div class="main-view__bg"><img class="pc-element" src="/assets/img/main-img.svg" width="100%" alt="bg"><img class="sp-element" src="/assets/img/main-img_sp.svg" width="100%" alt="bg"></div>
              <div class="main-view__content">
                <div class="main-view__title">
                  <p class="main-view__make"><img src="/assets/img/main-view.svg" width="100%" alt="Make The Beat!"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="page_navi-wrapper"><a class="page_navi" href="#">MENU</a>
            <ul class="page_navi-link">
              <li><a class="page_navi-a" href="#makethebeat">What is "Make The Beat!"?</a></li>
              <li><a class="page_navi-a" href="#sns">Available Social Media</a></li>
              <li><a class="page_navi-a" href="#movies">Sample</a></li>
              <li><a class="page_navi-a" href="#usage">Usage of 2020beat</a></li>
              <li><a class="page_navi-a" href="#contact">Contact</a></li>
            </ul>
          </div>
          <main id="contentsContainer" role="main">
            <div class="support" id="makethebeat">
              <div class="support-inner">
                <div class="support-movie">
                  <div class="slider"><a href="//www.youtube.com/embed/9uR7oCcE4Fk?rel=0" data-rel="lightcase"><img src="/assets/img/en/slide1.png" alt=""></a><a data-rel=""><img src="/assets/img/en/slide2.png" alt=""></a><a href="//www.youtube.com/embed/TM4CYbTNzGc?rel=0" data-rel="lightcase"><img src="/assets/img/en/slide3.png" alt=""></a></div>
                  <div class="slider-toolbar">
                    <div class="slider-toolbar-inner">
                      <div class="slider-prev"></div>
                      <div class="slider-pause stop"></div>
                      <div class="slider-next"></div>
                    </div>
                  </div>
                </div>
                <div class="en-support-head"><img class="pc-element" src="/assets/img/en-support-head.svg" width="100%" alt=""><img class="sp-element" src="/assets/img/en-support-head_sp.svg" width="100%" alt=""></div>
                <div class="support-body">
                  <div class="en-support-text">
                    <p>“Make The Beat!”<br>It’s a universal cheer everyone in the world can join through social media.<br class="pc-element">The video you post could be on the big screen at competition venues.<br class="pc-element">Your 2020beat will charge the Tokyo 2020 Games with excitement!<br class="pc-element">So what are you waiting for?</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="step" id="join">
              <div class="step-inner">
                <ul class="step-list">
                  <li class="step-item en-step1">
                    <div class="step-item__head"><img class="pc-element" src="/assets/img/en-step-head_001.svg" width="100%" alt="Take a selfie video!"><img class="sp-element" src="/assets/img/en-step1_sp.svg" width="100%" alt="Take a selfie video!"></div>
                    <div class="step-item__body">
                      <div class="step-item__img"><img src="/assets/img/step-img_001.svg" width="100%" alt="Take a selfie video! image"></div>
                      <div class="step-item__text">
                        <p>Take a video of yourself to the 2020beat.</p>
                      </div>
                    </div>
                  </li>
                  <li class="step-item en-step2">
                    <div class="step-item__head"><img class="pc-element" src="/assets/img/en-step-head_002.svg" width="100%" alt="Post!"><img class="sp-element" src="/assets/img/en-step2_sp.svg" width="100%" alt="Post!"></div>
                    <div class="step-item__body">
                      <div class="step-item__img"><img src="/assets/img/step-img_002.svg" width="100%" alt="Post! image"></div>
                      <div class="step-item__text">
                        <p>Post the video on social media with<br>the hashtag #2020beat.</p>
                      </div>
                    </div>
                  </li>
                </ul>
                <ul class="step-list">
                  <li class="step-item en-step3">
                    <div class="step-item__head"><img class="pc-element" src="/assets/img/en-step-head_003.svg" width="100%" alt="Posts will be connected!"><img class="sp-element" src="/assets/img/en-step3_sp.svg" width="100%" alt="Posts will be connected!"></div>
                    <div class="step-item__body">
                      <div class="step-item__img"><img src="/assets/img/step-img_003.svg" width="100%" alt="Posts will be connected! images"></div>
                      <div class="step-item__text">
                        <p>One video will be created from everyone’s posts.</p>
                      </div>
                    </div>
                  </li>
                  <li class="step-item en-step4">
                    <div class="step-item__head"><img class="pc-element" src="/assets/img/en-step-head_004.svg" width="100%" alt="Find yourself in the videos!"><img class="sp-element" src="/assets/img/en-step4_sp.svg" width="100%" alt="Find yourself in the videos!"></div>
                    <div class="step-item__body">
                      <div class="step-item__img"><img src="/assets/img/step-img_004.svg" width="100%" alt="Find yourself in the videos! image"></div>
                      <div class="step-item__text">
                        <p>Your video might be shown on the big screen at venues!</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="step-footer"></div>
            </div>
            <div class="sns" id="sns">
              <div class="sns-inner">
                <div class="en-sns-head"><img src="/assets/img/en-available_sns.svg" width="100%" alt="available SNS"></div>
                <div class="sns-body">
                  <ul class="sns-list">
                    <li class="sns-item"><a href=""><img src="/assets/img/icon-facebook.svg" width="100%" alt="facebook"></a></li>
                    <li class="sns-item"><a href=""><img src="/assets/img/icon-instagram.png" width="100%" alt="instagram"></a></li>
                    <li class="sns-item"><a href=""><img src="/assets/img/icon-twitter.svg" width="100%" alt="twitter"></a></li>
                    <li class="sns-item"><a href=""><img src="/assets/img/icon-douyin.svg" width="100%" alt="douyin"></a></li>
                    <li class="sns-item"><a href=""><img src="/assets/img/icon-weibo.svg" width="100%" alt="weibo"></a></li>
                  </ul>
                </div>
                <div class="sns-foot">
                  <p class="en-sns-foot__text">Please follow the terms and conditions of each platform.</p>
                </div>
              </div>
            </div>
            <div class="sample" id="movies">
              <div class="sample-inner">
                <div class="en-sample-head"><img src="/assets/img/en-sample-head.svg" width="100%" alt="Sample movie"></div>
                <div class="sample-body">
                  <ul class="sample-move" id="sample-move"></ul>
                  <label class="accordion-open">show more</label>
                  <label class="accordion-close">close</label>
                </div>
              </div>
            </div>
            <div class="terms" id="usage">
              <div class="terms-inner">
                <div class="en-terms-head"><img class="pc-element" src="/assets/img/en-terms-head.svg" alt="Usage of 2020beat"><img class="sp-element" src="/assets/img/en-terms-head_sp.svg" alt="Usage of 2020beat">
                  <p>The 2020beat gives everyone has a chance to energise the Tokyo 2020 Games.<br class="pc-element">You can perform to the original 2020beat, or arrange your own 2020beat to perform however you like.<br class="pc-element">You can post your recording to social media, as long as it isn’t ambush marketing.</p>
                </div>
                <div class="terms-body">
                  <ul class="terms-list">
                    <li class="terms-item">
                      <p class="title">For individual users</p>
                      <p class="text">Please read the usage terms and conditions first and follow the guidelines for the usages of 2020beat. The original 2020beat is available on each social media platform.<br>*Now available on TikTok. Other social media will be coming soon. (Jan 2020)</p><a href="./terms/index.html" target="_blank">Agree to “2020beat Terms of Use”</a>
                    </li>
                    <li class="terms-item">
                      <p class="title">For companies and associates</p>
                      <p class="text">Please fill out the application for use of the 2020beat in advance. The Tokyo 2020 Organising Committee will provide music data and sheet music after approval.</p><a href="form.html">Apply for 2020beat</a>
                    </li>
                  </ul>
                  <!--p.bottom-text| As soon as preparations are complete, the 2020beat Terms of Use and Usage Application Form will be released.
                  -->
                </div>
              </div>
            </div>
            <div class="contact" id="contact">
              <div class="contact-inner">
                <div class="contact-head"><img class="pc-element" src="/assets/img/en-contact-head.svg?timestamp=20191216" alt="お問合せ窓口"><img class="sp-element" src="/assets/img/en-contact-head_sp.svg?timestamp=20191216" alt="お問合せ窓口"></div>
                <div class="contact-body">
                  <p>
                     We accept inquiries by email in Japanese and English.<br class="pc-element">Please note that the indicated email address has been altered as a measure against junk mail. Please replace (at) with @ when contacting us.<br><br>TOKYO 2020 “Make The Beat!” Office<br>contact-makethebeat(at)tokyo2020.jp</p>
                </div>
              </div>
            </div>
          </main>
          <footer id="footer" role="contentinfo">
            <div id="pageTopBox">
              <div id="pageTopBoxInner">
                <p class="btn btn_pagetop" id="btn_pagetop"><a class="ui" href="#">Back to Top</a></p>
              </div>
            </div>
            <div id="footerLower">
              <div id="footerLowerInner">
                <div class="pc-element">
                  <div class="footer-lower-main"><small class="copyrights" id="copyRights"><span>The Tokyo Organising Committee of the Olympic and Paralympic Games</span>                      ©The Tokyo Organising Committee of the Olympic and Paralympic Games. All rights reserved.</small></div>
                </div>
                <div class="sp-element">
                  <div class="ft_bottom">
                    <p class="copyrights textBase mb00">The Tokyo Organising Committee of the Olympic and Paralympic Games</p>
                    <p>©The Tokyo Organising Committee of the Olympic and Paralympic Games. All rights reserved.</p>
                  </div>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
      <div class="pageTopFloat">TOP</div>
    </div>
    <script type="text/javascript" src="/assets/js/common/lib/libs.js"></script>
    <script type="text/javascript" src="/assets/m/js/common/lib/libs.js"></script>
    <script type="text/javascript" src="/assets/js/common/lib/jquery.cookie.js"></script>
    <script type="text/javascript" src="/assets/m/js/common/utils/utils.js"></script>
    <script type="text/javascript" src="/assets/js/common/script.js"></script>
    <script type="text/javascript" src="/assets/js/lightcase.min.js?timestamp=20191216" charset="utf-8"></script>
    <script type="text/javascript" src="/assets/js/script.js?timestamp=20191216" charset="utf-8"></script>
    <script type="text/javascript" src="/assets/js/click.js" charset="utf-8"></script>
    <script type="text/javascript" src="/assets/js/top.js" charset="utf-8"></script>
  </body>
</html>
