index.html
<!DOCTYPE html>
<html class="responsive" lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TOKYO 2020 Make The Beat!｜東京オリンピック・パラリンピック競技大会組織委員会</title>
    <meta name="keywords" content="Make The Beat,2020beat,ビート,応援,オリンピック,パラリンピック,東京,Tokyo,2020,組織委員会,ニュース,競技,大会ビジョン,エンブレム,五輪">
    <meta name="description" content="TOKYO 2020「Make The Beat!」応援プロジェクトについてご紹介します。">
    <meta property="og:title" content="TOKYO 2020 Make The Beat!｜東京オリンピック・パラリンピック競技大会組織委員会">
    <meta property="og:type" content="article">
    <meta name="copyright" content="The Tokyo Organising Committee of the Olympic and Paralympic Games. All rights reserved. ">
    <meta property="og:image" content="https://tokyo2020.org/jp/assets/img/common/ogp.jpg?u=20160620">
    <meta property="og:url" content="https://tokyo2020.org/jp/special/makethebeat/">
    <meta property="og:site_name" content="TOKYO 2020 Make The Beat!｜東京オリンピック・パラリンピック競技大会組織委員会">
    <meta property="og:description" content="TOKYO 2020「Make The Beat!」応援プロジェクトについてご紹介します。">
    <link rel="apple-touch-icon" href="https://tokyo2020.org/assets/img/common/tokyo2020.png?u=20160620">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500,500italic,700,700italic,100,100italic">
    <link rel="shortcut icon" href="./assets/img/common/icon.ico?emblem=tokyo2020">
    <link rel="stylesheet" href="/assets/css/common/reset.css">
    <link rel="stylesheet" href="/assets/css/common/article.css">
    <link rel="stylesheet" href="/assets/css/common/common_sp.css">
    <link rel="stylesheet" href="/assets/css/common/common_pc.css">
    <link rel="stylesheet" href="/assets/css/common/common_specialheader.css">
    <link href="//fonts.googleapis.com/css?family=Barlow+Condensed:600&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/lightcase/lightcase.min.css">
    <link rel="stylesheet" href="/assets/css/top.css?timestamp=20191210">
    <!-- Google Tag Manager-->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TFPF2DK');
    </script>
    <!-- End Google Tag Manager-->
  </head>
  <body id="jp">
    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TFPF2DK" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript)-->
    <div class="container" id="contents_contaienr">
      <header role="banner">
        <p id="site_logo"><a href="/jp/"><img class="sp-element" src="/assets/m/img/common/logo_tokyo2020.png" alt="東京2020オリンピック・パラリンピック競技大会" aria-hidden="true"><img class="pc-element" src="/assets/img/common/logo_tokyo2020.png" alt="東京2020オリンピック・パラリンピック競技大会"></a></p>
        <div id="headerInner">
          <div class="pc-element" id="headerUpper">
            <div id="headerUpperInner">
              <p id="headerUpperCenter"><img src="/assets/img/common/text_tokyo2020.png" alt="TOKYO2020"></p>
              <div id="headerUpperLeft">
                <ul id="languageBox">
                  <li class="current" id="languageJp" lang="ja"><a href="/jp/index.html" tabindex="2">日本語</a></li>
                  <li id="languageEn"><a href="/en/index.html" tabindex="3">English</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="global_menu_trigger clearfix" id="headerLower">
            <ul class="global_menu_triggerlist clearfix sp-element">
              <li class="btn btn_menu" id="hd_btn_menu"><a class="ui button-image" href="#" role="button" aria-label="メニューの開閉"><img src="/assets/m/img/common/button_menu_sp.png" width="55" height="70" alt="メニュー"><img class="active-image" src="/assets/m/img/common/button_menu_close_sp.png" width="55" height="70" alt="閉じる"></a></li>
            </ul>
          </div>
        </div>
      </header>
      <nav class="breadcrumbs pc-element" role="navigation" aria-label="現在位置">
        <p><a class="breadcrumbs__link" href="/jp/">ホーム</a><img class="ic_breadcrumbs" src="/assets/img/common/ic05.png" alt="＞"><span class="breadcrumbs__link nohref">TOKYO 2020 Make The Beat!</span></p>
      </nav>
      <div class="contents_wrapper compornent" id="contents_wrapper">
        <nav class="global_menu sp-element" id="global_menu" role="navigation" aria-label="スマートフォン用メニュー" aria-hidden="true">
          <ul class="global_menulist" id="global_menulist">
            <li class="has_children">
              <p class="trigger language">言語切り替え</p>
              <div class="view global_second_view">
                <ul class="global_second_menu language">
                  <li class="active"><a href="/jp/index.html">日本語</a></li>
                  <li><a href="/en/index.html">English</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
        <div class="contents_body">
          <div class="main-view">
            <div class="main-view__inner">
              <div class="main-view__bg"><img class="pc-element" src="/assets/img/main-img.svg?timestamp=20191111" width="100%" alt="bg"><img class="sp-element" src="/assets/img/main-img_sp.svg" width="100%" alt="bg"></div>
              <div class="main-view__content">
                <div class="main-view__title">
                  <h1 class="main-view__make"><img src="/assets/img/main-view.svg" width="100%" alt="Make The Beat!"></h1>
                </div>
              </div>
            </div>
          </div>
          <main id="contentsContainer" role="main">
            <p>こちらはリンクページです</p>
          </main>
          <footer id="footer" role="contentinfo">
            <div id="pageTopBox">
              <div id="pageTopBoxInner">
                <p class="btn btn_pagetop" id="btn_pagetop"><a class="ui" href="#">ページトップへ戻る</a></p>
              </div>
            </div>
            <div id="footerLower">
              <div id="footerLowerInner">
                <div class="pc-element">
                  <div class="footer-lower-main"><small class="copyrights" id="copyRights"><span>公益財団法人東京オリンピック･パラリンピック競技大会組織委員会</span>                      ©The Tokyo Organising Committee of the Olympic and Paralympic Games. All rights reserved.</small></div>
                </div>
                <div class="sp-element">
                  <div class="ft_bottom">
                    <p class="copyrights textBase mb00">公益財団法人東京オリンピック･パラリンピック競技大会組織委員会</p>
                    <p>©The Tokyo Organising Committee of the Olympic and Paralympic Games. All rights reserved.</p>
                  </div>
                </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/assets/js/common/lib/libs.js"></script>
    <script type="text/javascript" src="/assets/m/js/common/lib/libs.js"></script>
    <script type="text/javascript" src="/assets/js/common/lib/jquery.cookie.js"></script>
    <script type="text/javascript" src="/assets/m/js/common/utils/utils.js"></script>
    <script type="text/javascript" src="/assets/js/common/script.js"></script>
    <script type="text/javascript" src="/assets/js/lightcase.min.js?timestamp=20191111" charset="utf-8"></script>
    <script type="text/javascript" src="/assets/js/script.js?timestamp=20191111" charset="utf-8"></script>
    <script type="text/javascript">
      // ブラウザ言語の取得
      function browserLanguage() {
        try {
          return (navigator.browserLanguage || navigator.language || navigator.userLanguage).substr(0,2)
        }
        catch(e) {
          return undefined;
        }
      }
      $(function(){
      // ブラウザの言語が日本語の場合、日本語サイトへ、それ以外の場合英語サイトへリダイレクト
        if (browserLanguage().indexOf("ja") != -1) {
          location.replace("/jp/index.html");
        }
        else {
          location.replace("/en/index.html");
        }
      });
    </script>
  </body>
</html>

src/index.pug
- var css = "/assets/css/";
- var img = "/assets/img/";
- var js  = "/assets/js/";
- var timestamp  = "?timestamp=20191210";
doctype html
html.responsive(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="format-detection" content="telephone=no")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title TOKYO 2020 Make The Beat!｜東京オリンピック・パラリンピック競技大会組織委員会
    meta(name="keywords" content="Make The Beat,2020beat,ビート,応援,オリンピック,パラリンピック,東京,Tokyo,2020,組織委員会,ニュース,競技,大会ビジョン,エンブレム,五輪")
    meta(name="description" content="TOKYO 2020「Make The Beat!」応援プロジェクトについてご紹介します。")
    meta(property="og:title" content="TOKYO 2020 Make The Beat!｜東京オリンピック・パラリンピック競技大会組織委員会")
    meta(property="og:type" content="article")
    meta(name="copyright" content="The Tokyo Organising Committee of the Olympic and Paralympic Games. All rights reserved. ")
    meta(property="og:image" content="https://tokyo2020.org/jp/assets/img/common/ogp.jpg?u=20160620")
    meta(property="og:url" content="https://tokyo2020.org/jp/special/makethebeat/")
    meta(property="og:site_name" content="TOKYO 2020 Make The Beat!｜東京オリンピック・パラリンピック競技大会組織委員会")
    meta(property="og:description" content="TOKYO 2020「Make The Beat!」応援プロジェクトについてご紹介します。")
    link(rel="apple-touch-icon" href="https://tokyo2020.org/assets/img/common/tokyo2020.png?u=20160620")
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,300italic,300,400italic,500,500italic,700,700italic,100,100italic")
    link(rel="shortcut icon" href="./assets/img/common/icon.ico?emblem=tokyo2020")
    link(rel="stylesheet" href=css+"common/reset.css")
    link(rel="stylesheet" href=css+"common/article.css")
    link(rel="stylesheet" href=css+"common/common_sp.css")
    link(rel="stylesheet" href=css+"common/common_pc.css")
    link(rel="stylesheet" href=css+"common/common_specialheader.css")
    link(href="//fonts.googleapis.com/css?family=Barlow+Condensed:600&display=swap" rel="stylesheet")
    link(rel="stylesheet" href=css+"lightcase/lightcase.min.css")
    link(rel="stylesheet" href=css+"top.css"+timestamp)
    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TFPF2DK');
    // End Google Tag Manager
  body#jp
    // Google Tag Manager (noscript)
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-TFPF2DK" height="0" width="0" style="display:none;visibility:hidden")
    // End Google Tag Manager (noscript)
    #contents_contaienr.container
      header(role="banner")
        p#site_logo
          a(href="/jp/")
            img.sp-element(src="/assets/m/img/common/logo_tokyo2020.png" alt="東京2020オリンピック・パラリンピック競技大会" aria-hidden="true")
            img.pc-element(src="/assets/img/common/logo_tokyo2020.png" alt="東京2020オリンピック・パラリンピック競技大会")
        #headerInner
          #headerUpper.pc-element
            #headerUpperInner
              p#headerUpperCenter
                img(src="/assets/img/common/text_tokyo2020.png" alt="TOKYO2020")
              #headerUpperLeft
                ul#languageBox
                  li#languageJp.current(lang="ja")
                    a(href="/jp/index.html" tabindex="2") 日本語
                  li#languageEn
                    a(href="/en/index.html" tabindex="3") English
          #headerLower.global_menu_trigger.clearfix
            ul.global_menu_triggerlist.clearfix.sp-element
              li#hd_btn_menu.btn.btn_menu
                a.ui.button-image(href="#" role="button" aria-label="メニューの開閉")
                  img(src="/assets/m/img/common/button_menu_sp.png" width="55" height="70" alt="メニュー")
                  img.active-image(src="/assets/m/img/common/button_menu_close_sp.png" width="55" height="70" alt="閉じる")
      nav.breadcrumbs.pc-element(role="navigation" aria-label="現在位置")
        p
          a.breadcrumbs__link(href="/jp/") ホーム
          img.ic_breadcrumbs(src="/assets/img/common/ic05.png" alt="＞")
          span.breadcrumbs__link.nohref TOKYO 2020 Make The Beat!
      #contents_wrapper.contents_wrapper.compornent
        nav#global_menu.global_menu.sp-element(role="navigation" aria-label="スマートフォン用メニュー" aria-hidden="true")
          ul#global_menulist.global_menulist
            li.has_children
              p.trigger.language 言語切り替え
              .view.global_second_view
                ul.global_second_menu.language
                  li.active
                    a(href="/jp/index.html") 日本語
                  li
                    a(href="/en/index.html") English
        .contents_body
          .main-view
            .main-view__inner
              .main-view__bg
                img.pc-element(src="/assets/img/main-img.svg?timestamp=20191111" width="100%" alt="bg")
                img.sp-element(src="/assets/img/main-img_sp.svg" width="100%" alt="bg")
              .main-view__content
                .main-view__title
                  h1.main-view__make
                    img(src="/assets/img/main-view.svg" width="100%" alt="Make The Beat!")
          main#contentsContainer(role="main")
            p こちらはリンクページです
          footer#footer(role="contentinfo")
            #pageTopBox
              #pageTopBoxInner
                p#btn_pagetop.btn.btn_pagetop
                  a.ui(href="#") ページトップへ戻る
            #footerLower
              #footerLowerInner
                .pc-element
                  .footer-lower-main
                    small#copyRights.copyrights
                      span 公益財団法人東京オリンピック･パラリンピック競技大会組織委員会
                      |                       ©The Tokyo Organising Committee of the Olympic and Paralympic Games. All rights reserved.
                .sp-element
                  .ft_bottom
                    p.copyrights.textBase.mb00 公益財団法人東京オリンピック･パラリンピック競技大会組織委員会
                    p
                      | ©The Tokyo Organising Committee of the Olympic and Paralympic Games. All rights reserved.
    script(type="text/javascript" src="/assets/js/common/lib/libs.js")
    script(type="text/javascript" src="/assets/m/js/common/lib/libs.js")
    script(type="text/javascript" src="/assets/js/common/lib/jquery.cookie.js")
    script(type="text/javascript" src="/assets/m/js/common/utils/utils.js")
    script(type="text/javascript" src="/assets/js/common/script.js")
    script(type="text/javascript" src="/assets/js/lightcase.min.js?timestamp=20191111" charset="utf-8")
    script(type="text/javascript" src="/assets/js/script.js?timestamp=20191111" charset="utf-8")
    script(type="text/javascript").
      // ブラウザ言語の取得
      function browserLanguage() {
        try {
          return (navigator.browserLanguage || navigator.language || navigator.userLanguage).substr(0,2)
        }
        catch(e) {
          return undefined;
        }
      }
      $(function(){
      // ブラウザの言語が日本語の場合、日本語サイトへ、それ以外の場合英語サイトへリダイレクト
        if (browserLanguage().indexOf("ja") != -1) {
          location.replace("/jp/index.html");
        }
        else {
          location.replace("/en/index.html");
        }
      });
